<a href="https://colab.research.google.com/github/Ittichoce/Python-for-colab/blob/main/3_Begining_Data_Type_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Begining Data Type in Python
Let's get familliar with a first set of *data* type in Python

## Numbers
- `int`     for interger 
- `float`   for real numbers. They can represent decimal points.
- `complex` for complex numbers (with real and imaginary parts, very sciencific!)

To represent `int` value in the program, type *numbers* without decimal  points.

In [ ]:
print(32)
print(64)
print(100000)

32
64
100000

`type()` can be used for checking the data types of any values.

In [ ]:
print(type(32))
print(type(64))
print(type(100000))

To represent `float` value in the program, type *number* with deciaml points.

In [ ]:
print(47.5)
print(1.0)
print(type(47.5))
print(type(1.0))

47.5
1.0
<class 'float'>
<class 'float'>

To represent `complex` values in the program, use the format `a+bi`

In [ ]:
print(2+3j)
print(1.5-8j)
print(type(2+3j))
print(type(1.5-8j))

(2+3j)
(1.5-8j)
<class 'complex'>
<class 'complex'>

Be warned that in just `j` is NOT a complex number.

---

## Strings

A string object is a asequence of characters. In python, the data type is `str`.

To represent `str` in the program, *enclose text with quotes*.

Quotes cluod be:
- Single quotes 
- Double quotes
- Triple quotes

In [ ]:
print('Hello world')
print("Hello world")
print('''Hello world''')
print(type('Hello world'))
print(type("Hello world"))
print(type('''Hello world'''))

Hello world
Hello world
Hello world
<class 'str'>
<class 'str'>
<class 'str'>

Since quotes are used for signaling the starting/ending of a String object, 

How can we write a sentence like "Hello!" or *It's ok to say "Goodbye"*.

In [ ]:
print('He said "Hello"')
print('''It's ok to say "GoodBye".''')

He said "Hello"
It's ok to say "GoodBye".

If switching auotes is NOT a choice. we can escape the quotes character with a backslash.

In [ ]:
print("He said \"Hello!\"")
print("It's ok to say \" Goodbye\" . ")

He said "Hello!"
It's ok to say " Goodbye" .

What about when we need a *backslash* inside a String? 

We can also *escape* backslashes.

In [ ]:
print("Escape characters start with \\")

Escape characters start with \

It is good to know in advanced that each escape character (E.g. ", ',\) is counted as 1 character even though we type two characters. 

There are more *escape character* than that we have mentioned. Another escape character you should be familiar with is *the newline character* (\n).

In [ ]:
print("The first line.\nThe second line.\nThe third line.")

The first line.
The second line.
The third line.

When multiple String objects are typed in a sequence, Python *concatenate* them automatically.

In [ ]:
print("Store"  "Keep"  "er")
print("Strore"   "Keep"  "er")
print("Store""keep""er")
print('Store' "keep" '''er''')

---

## Boolean 

We type keyword `True` and `false` to represent the (truth) value *true* and *false*, repectively.

In [ ]:
print(True)
print(type(True))
print(False)
print(type(False))

True
<class 'bool'>
False
<class 'bool'>