<a href="https://colab.research.google.com/github/Ittichoce/Python-for-colab/blob/my-branch-1/4_Begining_Variables_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables
We **assign** values to variables and, later on, **refer** to the variable names to use the values.
The syntax used is: 
	variable_name = value

In [ ]:
a = 3 # Assign the value 3 to the variable named a
b = 5.5 # assign the value 5.5 to another variable named b
print(a)
print(b)

3
5.5

In [ ]:
firstname = "Ittichoce"
lastname = "Songmeethong"
print(firstname)
print(lastname)

Ittichoce
Songmeethong

In [ ]:
p = True
q = False 
print(p)
print(q)

True
False

Mutiple variables can be assigned with a *similar calue* in a *single line*.

In [ ]:
a = b = "Hello" 
print(a)
print(b)

Hello
Hello

Many values can also be assigned to mutiple variables in a single line.

In [ ]:
a, b, c = "Hello", 45, True
print(a)
print(b)
print(c)

Hello
45
True

A variable can be *re-assigned* with a new value.

In [ ]:
a = 25
print(a) 
a = 30 
print(a)
a = "Hello"
print(a)

25
30
Hello

We can assign *the value of a variable* to *another variable.*

In [ ]:
a = 50
print(a)
b = 100
a = b 
print(a)

50
100

The *data type of a variable* is the *data type of the (latest) value* assigned to that variable.

In [ ]:
a = 50 
print(a)
print(type(a))
b = 50.0 
a = b 
print(a)
print(type(a))

50
<class 'int'>
50.0
<class 'float'>

Here are examples of *valid variable names.*

In [ ]:
average = 20.0 
p5 = 50 
this_is_ok = "OK"
thisIsOk = "Yeah"
_height = 80 
ความสูง = 80

However, these are *NOT valid.*

In [ ]:
#average*   = 20.0  # CANNOT contain symbol 
#5p         = 50    # CANNOT start with a digit
#this-is-ok = "OK"  # CANNOT contain symbol 
#for        = "Friend"