<a href="https://colab.research.google.com/github/Ittichoce/Python-for-colab/blob/my-branch-1/5_Operators_%26_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operators**
Operators platform *operations* on values (via literals or in variables).

# **Arithmetic operators**

**Additon, Substraction, Mutiplication, Division**

In [ ]:
a = 20 
b = 5 
print(a + b) #Addition
print(a - b) #Substraction
print(a * b) #Multiplication
print(a / b) #Division

25
15
100
4.0

## Unary Minus
A unary minus *inverses the polarity* of the numeric operated.

In [ ]:
a = 2 
print(-a) 
b = -5 
print(-b)

-2
5

## Modulus
A modules (`a % b` reads as "a modulo b") find the *remainder* resultiing from dividing the left operand (`a`) with the right operated (`b`)

In [ ]:
x = 25 
print(x % 4) # Since 25 = 4 * 6 + 1
print(x % 5) # Since 25 = 5 * 5 + 0 
print(x % 7) # Since 25 = 7 * 3 + 4

1
0
4

We cannot *divide or modulo with 0*.

In [ ]:
#print(2 / 0)
#print(2 % 0)

## Exponentiation 
An exponentiation (`a ** b`) finds the value of the left operand (`a`) *raised to the power of * the value of the right operated (`b`).

In [ ]:
print(2 ** 3) 
print(5 ** 4)
print(99 ** 0) # Since any numbers raised to the power of 0 is 1
print(2 ** -1) # Since it is 1 / 2

8
625
1
0.5

## Floor Division 
A floor division (`//`) is a *division* that *rounds* the result *down* to the *nearest integer* (the next smaller integer).

In [ ]:
print(32 / 3)
print(32 // 3)
print(-32 // 3)
print(-32 // 3)

10.666666666666666
10
-11
-11

---

# **Assignment Operators** 
An *assignment operator* assigns a value to a variable.


## Simple assignment operator 
We are already famillar with the (simple) assignment operator.

In [ ]:
a = 3 
print(a)
b = 4 
a = b + 1 
print(a)

3
5

## Compound assignment operator 
In many circumstances, we might want to *apply an operator* on a variable and, consequently, *re-assign the resulting value back * to the same variable.

In [ ]:
a = 2 
print(a) 
a = a + 3 
print(a)

2
5

In [ ]:
a = b = c = d = e = f = g = 59 
a += 3    # a = a +3 
print(a) 
b -= 5    # b  = b - 5 
print(b) 
c *= 5    # c = c * 5
print(c) 
d /= 5    # d = d / 5
print(d) 
e %= 5    # e = e % 5 
print(e) 
f **= 5   # f  = f ** 5 
print(f) 
g //= 5   # g  = g  // 5
print(g)

62
54
295
11.8
4
714924299
11

# **Comparision Operators**
A comparision operator *cpmpares two values.* it returns `True` or `False`

In [ ]:
a = 20
print(a == 20) # is equal to ?
print(a != 20) # is NOT equal to  ?
print(a > 20) # is greater than ?
print(a < 20) # is less than ?
print(a >= 20) # is greater than or equal to ?
print(a <= 20) # is less tha or equal to ?

True
False
False
False
True
True

# **logical Operators** 
A logical operator performs a *boolean operation* (AND, OR, NOT)
the logical `and` returns `True` if and only if both operands are `True`.

In [ ]:
p = True 
q = False 
print(p and p) 
print(p and q) 
print(q and q)

True
False
False

The logical `or` operator returns `False` if and only if both operands are `False`

In [ ]:
p =  True
q = False 
print(p or p) 
print(p or q) 
print(q or q)

True
True
False

The logical `not` operator *negates* the boolean value of the operated.

In [ ]:
p = True 
q = False 
print(not p) 
print(not q)

False
True

Usually, *comparision operators* are used together with *logical operators.*

In [ ]:
username = input("Tell me your name: ")
print(username == "John" or username == "Jim" )

Tell me your name: Sarah
False